/* ==================================================================== */
                            /* custom.css */
/* ==================================================================== */
/*      use this file to tweak your styles by overriding  others        */


/* Override some of pure.css's menu rules to get clym's */
a.pure-menu-link {
    color: #3b5487;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
a.pure-menu-link:active, a.pure-menu-link:hover, a.pure-menu-link:focus {
   color: #203785;
}
